/*
    Theme Name: Nexa
*/
.back-to-blog-link {
    color: #535353;
    -ms-flex-item-align: center;
    align-self: center;
}
.back-to-blog-link .fa {
    vertical-align: middle;
    margin-right: 10px;
    transition: margin 0.5s cubic-bezier(0.4, 0.65, 0.4, 0.65);
}
.back-to-blog-link:hover .fa {
    margin-right: 15px;
    margin-left: -5px;
}
.blog-body-wrapper {
    max-width: 860px;
    margin: 30px auto;
}
.blog-body-wrapper h1 {
    margin-bottom: 50px;
}
.blog-body-wrapper img {
    max-width: 100%;
    height: auto;
}
.single-blog .post-thumbnail {
    overflow: hidden;
    max-height: 200px;
}
.single-blog.col-md-6 .post-thumbnail {
    max-height: 300px;
}
.single-blog .post-thumbnail img {
    transition: transform 0.5s ease;
    width: 100%;
}
.single-blog .post-thumbnail:hover img {
    transform: scale(1.1);
}
.social-media-bar {padding: 10px 0;border-top: 2px solid #EEE;border-bottom: 2px solid #EEE;margin-bottom: 15px;}
.social-media-bar a {text-decoration: none;}
.social-media-bar a .fa-circle {transition: color 0.5s ease;}
.social-media-bar a:hover .fa-circle {transition: color 0.5s ease;}
.social-media-bar a.share-facebook .fa-circle {color: #3b5998;}
.social-media-bar a.share-facebook:hover .fa-circle,
.social-media-bar a.share-facebook:focus .fa-circle {color: #28447f;}
.social-media-bar a.share-twitter .fa-circle {color: #55acee;}
.social-media-bar a.share-twitter:hover .fa-circle,
.social-media-bar a.share-twitter:focus .fa-circle {color: #3b93d6;}
.social-media-bar a.share-email .fa-circle {color: #757575;}
.social-media-bar a.share-email:hover .fa-circle,
.social-media-bar a.share-email:focus .fa-circle {color: #5a5a5a;}
.social-media-bar a.share-pinterest .fa-circle {color: #bd081c;}
.social-media-bar a.share-pinterest:hover .fa-circle,
.social-media-bar a.share-pinterest:focus .fa-circle {color: #920515;}
.social-media-bar a.share-linkedin .fa-circle {color: #0077b5;}
.social-media-bar a.share-linkedin:hover .fa-circle,
.social-media-bar a.share-linkedin:focus .fa-circle {color: #015e8e;}
.social-media-bar a.share-google-plus .fa-circle {color: #dc4e41;}
.social-media-bar a.share-google-plus:hover .fa-circle,
.social-media-bar a.share-google-plus:focus .fa-circle {color: #b52c1f;}

/* Newsletter  */
.page-420 .component.border-between .row [class*="col"] .row [class*="col"]  {
    padding: 0 15px;
    border: 0;
}

.page-420 .left.image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
}

.page-420 .left.image img {
    padding: 5px;
    border: 1px solid #bbb;
    margin-right: 10px;
    width: 45%;
    height: auto;
    
}

.page-420 .right form .btn {
    background: #474A52;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.page-420 .right form .btn:hover {
    background: #272A33;
    color: white;
}

.page-420 .brochure_points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.page-420 .brochure_points .point {
    background: #EEF0EE;
    width: 48%;
    padding: 20px;
    font-size: 17px;
}

@media (max-width: 767px) {
    .page-420 .brochure_points {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }

    .page-420 .brochure_points .point {
        width: 100%;
        margin-bottom: 15px;
    }
}

.page-420 .brochure_points .point h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.5;
}

.page-420 .brochure_points .point strong {
    font-weight: 700;
}

.page-420 .brochure_points .point ul {
    padding-left: 20px;
    font-size: 15px;
}

@media(max-width: 1199px) {
    .collage-footer.collage .outlink div {
        -webkit-box-flex: 0;
        -webkit-flex: 0;
        -ms-flex: 0;
        flex: none;
    }

    .collage.collage-footer .outlink:nth-child(4) {
        background: none;
    }
}

@media(max-width: 991px) {
    .hero-home.hero h2 {
        width: 100%;
    }
}

#title h1 small {
    color: #535353;
}

.team-body-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.team-images > img {
    margin: 0 auto 30px auto;
}

.team-images .thumbnails:before, 
.thumbnails:after {
    content: "";
    display: table;
    clear: both;
}

.team-images .thumbnails .image {
    display: inline-block;
    width: 50%;
    float: left;
}

.thumbnails .image:nth-child(odd) {
    padding-right: 5px;
}

.thumbnails .image:nth-child(even) {
    padding-left: 5px;
}

@media(max-width: 991px) {
    .team-images .thumbnails {
        display: none;
    }
}

@media(max-width: 767px) {
    #title h1 small.job-title {
        display: block;
        margin-top: 5px;
    }

    #title h1 small.job-title span {
        display: none;
    }
}

@media(min-width: 992px) {
    .team-images {
        display: inline-block;
        max-width: 388px;
    }
    .team-images > img {
        margin: 0 0 10px 0;
    }

    .thick-blue-border-md {
        position: relative;
    }

    .thick-blue-border-md:after {
        content: "";
        position: absolute;
        bottom: -30px;
        width: 100%;
        height: 12px;
        background: #d6e9f2;
    }
}

.team-content .contact-info {
    padding: 10px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.team-content .contact-info span {
    display: block;
}

.team-content .contact-info a {
    color: #535353;
    font-weight: normal;
    transition: color 0.2s ease;
}

.team-content .contact-info a:hover,
.team-content .contact-info a:focus {
    color: #76A92B;
}

.team-content .social-links a.linkedin-link {
    color: #1585af;
}

.team-content .social-links a.linkedin-link:hover {
    color: #086386;
}

@media(min-width: 480px) {
    .team-content .contact-info span {
        display: inline-block;
    }

    .team-content .contact-info span:first-child {
        margin-right: 30px;
    }
}

@media(max-width: 479px) {
    .col-xxs-12 {
        width: 100% !important;
    }
}
.team-images-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.team-images-wrapper.bottom {
    padding-top: 2rem;
    border-top: 1px solid #ddd;
}

.team-member {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.team-member:before {
    opacity: 0;
    content: attr(title);
    margin-bottom: -30px;
    position: absolute;
    bottom: 120px;
    font-size: 30px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    color: #FFF;
    z-index: 1;
    text-shadow: 0 0 15px #999;
    transition: margin-bottom 0.5s ease, opacity 0.5s ease;
}

.team-member:hover:before {
    margin-bottom: 0;
    opacity: 1;
}

.team-member:after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(187, 199, 191, 0.85);
    transition: opacity 0.5s ease;
}

.team-member:hover:after {
    opacity: 1;
}

/* Calculator page */
@media(min-width: 768px) {
    .page-173 table tr td:first-child {
        position: relative;
    }

    .page-173 table tr td:first-child:after {
        content: url('https://www.nexa.law/wp-content/themes/nexa/assets/img/grey-right-arrow.png');
        position: absolute;
        right: 30%;
        opacity: 0.85;
    }

    .mr-sm-10 {
        margin-right: 10px;
    }
}

.btn-blue {
    background-color: #2d87c0;
    color: #FFF !important;
    -webkit-transition: all .15s;
    transition: all .15s;
    padding: 10px 30px;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #156da5;
    color: #FFF !important;
}

@media(max-width: 767px) {
    .btn.btn-contact-us-today {
        padding: 10px 30px !important;
    }

    .btn + .btn {
        margin-top: 15px;
    }

    .btn-center-mob {
        display: block;
        max-width: 350px;
        margin: 0 auto;
    }
}