body, html {
    font-size: 18px;
}

.lead {
    font-weight: bold;
    font-size: 28px;
}

h1.green,
h2.green,
h3.green,
h4.green,
h5.green {
    color: #76A92B;
}

.btn {
    border: 1px solid #DDD;
    background: #F9F9F9;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}
